<!DOCTYPE html>
<head>
    <title>Zdravá žrádelna</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body id="objednavka">
    <button id="vymazat"><a href="/kosik">Zpět na košík</a></button>
    <h2 id="obj">Formulář objednávky</h2>
    <form action="/odeslat-objednavku" method="post" id="formular">
        <input type="text" name="jmeno" placeholder="Jméno" required>
        <input type="text" name="prijmeni" placeholder="Příjmení" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="telefon" placeholder="Telefon" required>
        <input type="text" name="adresa" placeholder="Adresa" required>
        <button type="submit" id="obj2">Odeslat objednávku</button>
    </form>
</body>
</html>