<!DOCTYPE html>
<html>
<head>
    <title>Registrace</title>
    <link rel="stylesheet" href="/style/user.css">
    <script src="register.js" defer></script>
</head>
<body>
    <h1>Registrace</h1>
    <form action="/register" method="POST">
        <label for="username">Uživatelské jméno:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Heslo:</label>
        <input type="password" id="password" name="password" required>
        <label for="password">Heslo znovu:</label>
        <input type="password" id="repeat" name="repeat" required>
        <button type="submit">Registrovat se</button>
    </form>
    <a href="/user"><button>Přihlásit se</button></a>
</body>
</html>
