*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    line-break: auto;
    color: black;
    font-family: Shantell Sans;
    font-weight: bold;
    
}


body{
    background-color: rgb(159, 182, 83);
}

.nav{
    display: flex;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    align-content: space-between;
    justify-content: center;
    font-family: Shantell Sans;
    font-size: x-large;
}
.item{
    padding-right: 40px;
    padding-left: 40px;
}

button{
    height: 75px;
    width: 200px;
    font-size: 20px;
}

#koupit{
    padding: 5px;
    background-color: rgb(81, 151, 79);
}

#formular{
    width: 300px;
    
}

#objednavka{
    padding-left: 50px;
}



video {
    height: 500px;
    width: 100%;
    position: relative;
    object-fit: cover;
    padding-bottom: 25px;
}

main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 75px;
    padding-top: 20px;
}

.img{
    width: 500px;
    height: auto;
    transition: transform .2s;
}

.img:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}

.text{
    width: 500px;
    font-size: 20px;
}

.nadpis1{
    text-align: center;
    padding-bottom: 25px;
    font-size: 50px;

}

.nadpis2{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 30px;
}

.nadpis3{
    text-align: center;
    padding-bottom: 25px;
    font-size: 50px;
    padding-top: 50px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #72aa55;
    padding: 20px;
}

.special{
    height: 500px;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

#specil{
    width: 500px;
    height: auto;
}

.center{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

#cent{
    position: relative;
  text-align: center;
  color: white;
    
}

#kontejner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding-left: 50px;

}

.sell{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    margin: 10px;
    width: 350px;
    height: 500px;
    align-items: center;
    padding: 10px;
    transition: transform .2s;
}

.sell:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
}

.img2{
    width: 300px;
    height: 300px;
}

.container {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	resize: vertical;
}

select {
	height: 40px;
}

textarea {
	height: 120px;
}

.button {
	display: flex;
	justify-content: center;
}

input[type="submit"],
input[type="reset"] {
	padding: 10px 20px;
	margin-left: 10px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
	background-color: #3e8e41;
}

.img3{
    width: 500px;
    height: auto;
}

h3{
    padding-top: 15px;
}

@media screen and (max-width:800px) {
    main{
        justify-content: center;
        flex-direction: column;
        width: 80%;
        align-content: center;
    }
    .nav{
        flex-direction: column;
    }
    header{
        padding-bottom: 125px;
    }
    .resp{
        display: flex;
        justify-content: center;
        align-self: center;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    #specil{
        width:100px;

    }
    .special{
        height: auto;
        justify-content: space-between;
        font-size: large;
    }
}

#kosik {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
}

a{
    height: 75px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
